*{
  margin: 0;
  padding: 0;
}
/* nav{
  background: #6495ED;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  font-family: cursive, sans-serif;
}
.logo{
  color: brown;
  font-size: 40px;
  font-family: cursive fantasy sans-serif;
  font-weight: bold;
  text-shadow: 5px 5px 5px grey;
  display: flex;
  padding: 0 5px 0 10px;
  letter-spacing: 3px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links a{
  color: brown;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 18px;
}
.nav-links li{
  list-style: none;
}

.burger div{
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: brown;
  display: none;
} */


.topnav {
  overflow: hidden;
  background-color: black;

  }

.topnav a {
  float: left;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  opacity: .8;
  margin: 5px;
}

.topnav a:hover {
  background-color:#4CAF50;
  color: white;
}

.topnav a.active {
  background-color:#4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a{
  display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}


.container{
margin:200px auto;
padding:0;
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
text-align: center;
max-width:100%;
}

.contain{
  display:block;
  padding:20px;
}

.contain h1{
  font-size: 70px;
  font-weight: bold;
}

#title-text{
    background-color: #6495ED;
    color: white;
    font-size: 25px;
    font-style: italic;
    padding: 10px;
    margin: 20px auto 10px auto;
    border-radius:10px;
}

#training{
  font-family:monospace sans-serif;
  font-size: 20px;
  font-style: italic;
}

#profile-image{
  max-width:300px;
  height:auto;
    box-shadow: 10px 10px 5px grey;
}

h2{
  text-align: center;
  color: brown;
  font-size: 50px;
  font-weight: bold;
  text-transform:uppercase;
  font-family: fantasy;
}

.boxes{
  max-width: 1400px;
  margin: 40px auto 0 auto;
}

.project{
  padding:20px;
  margin-bottom: 20px;
  flex-basis: 28%;
  text-align: center;
}
.project:nth-child(1){background-color:#ff8000;}
.project:nth-child(2){background-color:#00BFFF;}
.project:nth-child(3){background-color:#FF1493;}

@media (min-width:900px){
  .boxes{
    display: flex;
    justify-content: space-between;
  }
}

/*

@media (max-width:1024px){
  .nav-links{
    width: 50%;
  }
}

@media(max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #6495ED;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
}
.nav-active{
  transform: translateX(0%);
}
*/



















/*
.second-contain-image{
  width: 150px;
  height: auto;
}
*/
