<style>
        body {
            background-color: rgb(173, 197, 250);
        }
        h1 {
            background-color: rgb(80, 138, 41);
        }
        p {
            color: rgb(240, 58, 12);
            font-size: 16px;
            font-family: sans-serif;
        }
        
        p em {
            background-color:rgb(252, 244, 252);
        }
        p b {
            background-color: rgb(193, 237, 178);
        }
        
        h2 {
            color:rgb(15, 31, 14);
            font-size: 16px;
        }
        
        
        </style>
